<!--
This is a very simple View of an Achievement-object.
It has a security check, so that edit/delete are only visible to admins.
-->
{% extends "html/achievements/page.html" %}

{% block title %}{{ achievement.prototype.title }} | {% trans %}Achievements{% endtrans %}{% endblock %}
{% block module_subtitle %}{{ achievement.prototype.title }}{% endblock %}

{% block module_topmenu %}
	<a href="{% url achievements_achievement_detail achievement.id %}" class="top-menu view-link view-link-active">
		{% trans %}View{% endtrans %}
	</a>
	{% if user.get_profile().is_admin(module_name='achievements') %}
		<a href="{% url achievements_achievement_edit achievement.id %}" class="top-menu edit-link">
			{% trans %}Edit{% endtrans %}
		</a>
		<a href="{% url achievements_achievement_delete achievement.id %}" class="top-menu delete-link">
			{% trans %}Delete{% endtrans %}
		</a>
	{% endif %}
{% endblock %}

{% block module_content %}
	<strong>Achievement:</strong> {{ achievement.name }}<br />
	<strong>User:</strong> {{ achievement.user.get_username() }}<br /><br />
	<strong>Reason:</strong>
	<!-- render eventual HTML-tags -->
	{{ achievement.text|safe }}
{% endblock %}